.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl


infra/function.zip
backend/__pycache__/
frontend/node_modules/


*.tfvars
*.tfvars.json


.DS_Store
Thumbs.db

backend/venv/
.pytest_cache/

node_modules/
test-results/
playwright-report/
blob-report/
.last-run.json
